
<div class="row">
    <div class="col-1"></div>
    <div class="col-4 form-group">
        <div><label class="text-center">Character Name</label></div>
        @if (IsNameEditable)
        {
            <input type="search" class="form-control @((string.IsNullOrWhiteSpace(CurrentCharacter.Name) ? "is-invalid" : "is-valid"))" @bind="@CurrentCharacter.Name" placeholder="Enter Name" disabled="@IsCharacterLocked" />
        }
        else
        {
            <div><label class="text-center">@CurrentCharacter.Name</label></div>
        }
    </div>
    <div class="col-1 form-group">
        <div><label class="text-center">@nameof(CurrentCharacter.Stats.Strength)</label></div>
        <NumberInput Value="@CurrentCharacter.Stats.Strength" IsCharacterLocked="@IsCharacterLocked" />
    </div>
    <div class="col-1 form-group ">
        <div><label class="text-center">@nameof(CurrentCharacter.Stats.Dexterity)</label></div>
        <NumberInput Value="@CurrentCharacter.Stats.Dexterity" IsCharacterLocked="@IsCharacterLocked" />
    </div>
    <div class="col-1 form-group ">
        <div><label class="text-center">@nameof(CurrentCharacter.Stats.Constitution)</label></div>
        <NumberInput Value="@CurrentCharacter.Stats.Constitution" IsCharacterLocked="@IsCharacterLocked" />
    </div>
    <div class="col-1 form-group ">
        <div><label class="text-center">@nameof(CurrentCharacter.Stats.Intelligence)</label></div>
        <NumberInput Value="@CurrentCharacter.Stats.Intelligence" IsCharacterLocked="@IsCharacterLocked" />
    </div>
    <div class="col-1 form-group ">
        <div><label class="text-center">@nameof(CurrentCharacter.Stats.Wisdom)</label></div>
        <NumberInput Value="@CurrentCharacter.Stats.Wisdom" IsCharacterLocked="@IsCharacterLocked" />
    </div>
    <div class="col-1 form-group ">
        <div><label class="text-center">@nameof(CurrentCharacter.Stats.Charisma)</label></div>
        <NumberInput Value="@CurrentCharacter.Stats.Charisma" IsCharacterLocked="@IsCharacterLocked"></NumberInput>
    </div>
    <div class="col-1 form-group ">
        <div><label class="text-center">Minimum Level</label></div>
        <NumberInput Value="@CurrentCharacter.Level" IsCharacterLocked="@IsCharacterLocked" />
    </div>

</div>

@code {
    [Parameter]
    public Models.Character.Character CurrentCharacter { get; set; }
    [Parameter]
    public bool IsCharacterLocked { get; set; }
    [Parameter]
    public bool IsNameEditable { get; set; }
}
