<div class="row p-2 border-bottom @(IsAltRow ? "bg-alt-light" : "bg-light") ">
    <div class="col-1 text-center">
        <DeleteButton DeleteButtonTitle="Remove" Margin="mt-2 mb-2" OnButtonClick="() => OnCharacterDelete.Invoke(Character)"></DeleteButton>
    </div>
    <div class="col-1"></div>
    <div class="col-2 border-right">
        <label class="text-dark">@Character.Name</label>
    </div>
    <!-- HP Editable due to Rolling for health-->
    <ToggledEditField InputText="Character.MaxHealth" IsEditable="true" Title="Health" OnTextChanged="(health) => HealthChange.InvokeAsync(health)"></ToggledEditField>
    
    <div class="col-1 border-right">
        <div><label class="text-dark">Armor Class</label></div>
        <div><label class="text-dark">@Character.Stats.Strength</label></div>
    </div>
    <div class="col-1 border-right">
        <div><label class="text-dark">Strength</label></div>
        <div><label class="text-dark">@Character.Stats.Strength (@(Character.Stats.StrengthBonus < 0 ? "" : "+")@Character.Stats.StrengthBonus)</label></div>
    </div>
    <div class="col-1 border-right">
        <div><label class="text-dark">Dexterity</label></div>
        <div><label class="text-dark">@Character.Stats.Dexterity (@(Character.Stats.DexterityBonus < 0 ? "" : "+")@Character.Stats.DexterityBonus)</label></div>
    </div>
    <div class="col-1 border-right">
        <div><label class="text-dark">Constitution</label></div>
        <div><label class="text-dark">@Character.Stats.Constitution (@(Character.Stats.ConstitutionBonus < 0 ? "" : "+")@Character.Stats.ConstitutionBonus)</label></div>
    </div>
    <div class="col-1 border-right">
        <div><label class="text-dark">Intelligence</label></div>
        <div><label class="text-dark">@Character.Stats.Intelligence (@(Character.Stats.IntelligenceBonus < 0 ? "" : "+")@Character.Stats.IntelligenceBonus)</label></div>
    </div>
    <div class="col-1 border-right">
        <div><label class="text-dark">Wisdom</label></div>
        <div><label class="text-dark">@Character.Stats.Wisdom (@(Character.Stats.WisdomBonus < 0 ? "" : "+")@Character.Stats.WisdomBonus)</label></div>
    </div>
    <div class="col-1 border-right">
        <div><label class="text-dark">Charisma</label></div>
        <div><label class="text-dark">@Character.Stats.Charisma (@(Character.Stats.CharismaBonus < 0 ? "" : "+")@Character.Stats.CharismaBonus)</label></div>
    </div>
</div>

@code {
    [Parameter]
    public EncounterBuilder.Models.Character.Character Character { get; set; }

    [Parameter]
    public bool IsAltRow { get; set; }

    [Parameter]
    public Action<Models.Character.Character> OnCharacterDelete { get; set; }

    [Parameter]
    public EventCallback<int> HealthChange { get; set; }

    protected override void OnInitialized()
    {
        Character.Stats.GetModifier(Character.Stats.Charisma, nameof(Character.Stats.Charisma));
        base.OnInitialized();
    }
}
